@import 'app/assets/styles/variables';

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
	@apply bg-[#131313] text-base text-gray;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}
